body {
  background: #6d988d;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #8d8d8d;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  margin: 0 auto;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.15);
  position: relative;
  width: 450px;
}

.input-item {
  margin-bottom: 30px;
}

input {
  width: 100%;
  border: none;
  height: 50px;
  padding: 0px 40px 0px 10px;
  font-size: 18px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.form-control i {
  opacity: 0;
}

.form-control.success input {
  border: 1px solid rgb(58, 145, 58);
}

.form-control.success i {
  color: rgb(58, 145, 58);
}

.form-control.success i.fa-check-circle {
  opacity: 1;
}

.form-control.fail input {
  border: 1px solid rgb(145, 58, 58);
}

.form-control.fail i {
  color: rgb(145, 58, 58);
}

.form-control.fail i.fa-times-circle {
  opacity: 1;
}

.form-control {
  position: relative;
}

.form-control i {
  position: absolute;
  bottom: 15px;
  right: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

input:focus {
  outline: none;
}

.wrapper {
  padding: 20px;
}
